@model TeacherRegistrationViewModel

<div class="form-group">
    <label asp-for="DepartmentId">Department</label>
    <select asp-for="DepartmentId" class="form-control">
        <option value="">Select Department</option>
        @if (Model.Departments != null)
        {
            @foreach (var department in Model.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }
        }
        else
        {
            <option value="">No departments available</option>
        }
    </select>
</div>
