@{
    ViewData["Title"] = "Quiz Submitted Successfully";
}

<h2>The quiz has been successfully sent!</h2>
<p>Do you want to see your result?</p>
<a href="@Url.Action("MyExams", "Account")" class="btn btn-primary">My Exams</a>
