@{
    ViewData["Title"] = "All Pages";
}

<div class="container mt-5">
    <h2>Available Pages</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Groups" asp-action="Index">Groups</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="Presentation">Presentation</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="SelectExamType">Exam Type</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="BookMeeting">Book</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="UploadWord">Word</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="UploadExcel">Excel</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="UploadPDF">PDF</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admission" asp-action="Index">Admission</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="QuizCreation" asp-action="Create">Create a Quiz!</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="AddQuestion">Questions</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">Teacher</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">Course</a>
        </li>
    </ul>
</div>
